* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #fafafa;
}

.content {
    height: 500px;
}

.content .body {
    width: 762px;
    max-width: 762px;
    padding: 20px;
    height: 100%;
    border: 1px solid gray;
    outline: none;
    background-color: #FFF;
}

.content .tools {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .tools button {
    padding: 5px 32px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
}

.content .tools button > svg {
    width: 12px;
    font-size: 50px;
    vertical-align: middle;
}

.content .tools .toggle-heading {
    position: absolute;
    width: inherit;
    top: 100%;
    transform: translateX(50%);
    display: grid;
    visibility: hidden;
}

.content .tools .toggle-heading.active {
    visibility: visible;
}

.content .tools input[type="color"] {
    -webkit-appearance: none;
    border: none;
    display: block;
    background-color: #FFF;
}

.content .tools input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.content .tools input[type="color"]::-webkit-color-swatch {
	border: none;
}

.content .tools button.active {
    background-color: #FFF;
    color: #333;
}

.content .tools button:hover {
    background-color: #FFF;
    color: #333;
}

.content .add-edit-link {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.content .add-edit-link input {
    display: block;
    outline: none;
    padding: 5px;
    margin: 5px 0;
}

.content .add-edit-link label,
.content .add-edit-link button {
    display: inline-block;
}

.content .add-edit-link label,
.content .add-edit-link input[type="checkbox"] {
    display: inline-block;
    padding: 10px 5px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.content .add-edit-link button:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
