* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #f2f2f2;
    --second-color: #333;
    --border-color: #333;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #FFF;
}

button,
input[type="button"] {
    user-select: none;
}

.parent-content {
    position: relative;
    background-color: var(--main-color);
    width: 800px;
}

.parent-content .tools {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}

.parent-content .tools button {
    padding: 3px 25px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
}

.parent-content .tools button > svg {
    width: 11px;
    vertical-align: middle;
}

.parent-content .tools {
    position: relative;
}

.parent-content .tools .toggle-fontSize,
.parent-content .tools .toggle-heading {
    position: fixed;
    width: inherit;
    display: grid;
    visibility: hidden;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.parent-content .tools .toggle-fontSize::before,
.parent-content .tools .toggle-heading::before {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -8px);
    content: "";
    border-radius: 4px;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--main-color);
    z-index: -1;
}

.parent-content .tools .toggle-fontSize.active,
.parent-content .tools .toggle-heading.active {
    visibility: visible;
}

.parent-content .tools input[type="color"] {
    -webkit-appearance: none;
    border: none;
    display: block;
    background-color: #FFF;
    cursor: pointer;
}

.parent-content .tools input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.parent-content .tools input[type="color"]::-webkit-color-swatch {
	border: none;
}

.parent-content .tools button.active,
.parent-content .tools button:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.parent-content .editable {
    position: relative;
    height: 500px;
    max-width: 100%;
    padding: 20px;
    overflow-y: auto;
    border: 1px solid #333;
    border-top: none;
    outline: none;
    background-color: #FFF;
}

.parent-content .show-link,
.parent-content .add-edit-link {
    position: absolute;
    background-color: var(--main-color);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    z-index: 6;
    max-width: 400px;
}

.parent-content .show-link > span {
    display: block;
}

.parent-content .add-edit-link button,
.parent-content .show-link button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 3px 25px;
    margin: 10px 10px 0 10px;
    background-color: var(--second-color);
    color: #FFF;
    border-radius: 4px;
}

.parent-content .show-link button:last-of-type {
    padding: 3px 5px;
    background-color: transparent;
    color: var(--second-color);
}

.parent-content .show-link button:hover:not(.parent-content .show-link button:last-of-type) {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.parent-content .add-edit-link input:not(input[type="checkbox"]) {
    display: block;
    outline: none;
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 5px;
    margin: 5px 0;
}

.parent-content .add-edit-link label,
.parent-content .add-edit-link button {
    display: inline-block;
    border-radius: 4px;
}

/* .parent-content .add-edit-link button {
    outline: none;
    border: none;
    padding: 5px 30px;
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
} */

.parent-content .add-edit-link button:nth-of-type(2) {
    background-color: transparent;
    color: red;
}

.parent-content .add-edit-link button:nth-of-type(1):hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.parent-content .add-edit-link label,
.parent-content .add-edit-link input[type="checkbox"] {
    display: inline-block;
    padding: 10px 5px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.length-letters-words {
    position: absolute;
    display: flex;
    right: 0;
    column-gap: 10px;
}

